#input-form {
  display: inline-block;
  width: 80%;
}
#input {
  display: inline;
}
#btn-submit {
  position: relative;
  float: right;
  color: #272848 !important;
  font-weight: 500;
}
#input-error {
  color: red;
  font-size: 14px;
  margin-top: 3px;
}
#btn-clearInput {
  color: #104087de !important;
  border: none !important;
}
#btn-clearInput:hover {
  background-color: #104087de !important;
  color: white !important;
}
